[2017-01-18 13:45] sebastiandedeyne opened #2 "Implement elements"
- [x] Button
- [x] Div
- [ ] Form
- [ ] Input
- [ ] Label
- [ ] Link
- [ ] ListItem
- [ ] Mailto
- [x] Option
- [ ] OrderedList
- [x] Select
- [ ] Textarea
- [ ] UnorderedList

[2017-03-29 11:45] freekmurze opened #5 "Input for input fields should be escaped"
A piece of html as a value of an input field won't be rendered correctly.

[2017-04-15 05:38] paulredmond opened #7 "Form Model and Multi-Select Support?"
I have a couple questions about multi-select (`<select multiple=true/>`). I am not opposed to looking at doing a PR, but I wanted to check in and ask a few questions.

1. Can a model form work with model associations? Is this planned?
1. If not implemented yet, would you suggest something other than the following for multi-select `<select>` elements?
[code]

I am using the https://github.com/spati

[2017-04-16 18:32] freekmurze commented on #7
The code you provided seems like the way to go.

@sebastiandedeyne your thoughts on this?

[2017-04-18 03:41] oyed opened #8 "Radio Element"
Was this element missed on purpose?

[2017-04-18 06:29] #2 closed

[2017-04-19 07:49] sebastiandedeyne commented on #7
This could be better. A `multiselect` method on `Html` would be nice, which would accept an array of values (you can't pass an array to `select` since it has a `?string` typehint)

[2017-04-19 07:50] sebastiandedeyne commented on #8
Nope, I'll add it in soon 😄

[2017-04-19 14:53] #5 closed

[2017-04-19 14:55] sebastiandedeyne commented on #8
Added in v1.1.0!

[2017-04-19 14:55] #8 closed

[2017-04-20 13:24] bbashy opened #9 "Placeholder for Select element"
Would it be possible to add `->placeholder()` like inputs for `html()->select()`?

Is there a better way to do it than appending an array to the options?

[2017-04-20 15:27] sebastiandedeyne commented on #9
What do you mean by `placeholder`, select tags can't have a placeholder.

Could you post a quick snipped of how you're doing it now?

[2017-04-20 15:34] bbashy commented on #9
Sorry for the confusion, I meant appending an entry to the list of options. I did it previously with the LaravelCollective package, like so and this added an entry to the options which was selected if the selected value is null;
[code]

This is how I'm doing it with your package but I won't be using collections all the time for the options.
[code]

[2017-04-21 08:05] sebastiandedeyne commented on #9
At the moment that's the way to go. I'll look into adding a `placeholder` method to make this easier soon :)

[2017-04-21 08:10] bbashy commented on #9
Lovely, thanks!

Ref: https://github.com/LaravelCollective/html/blob/5.4/src/FormBuilder.php#L556-L559

[2017-04-24 10:53] danijelk commented on #7
I would also point you in a direction towards adding a dynamic ->attach(iterable $options = []). We noticed that 'multiple' is impossible to add it seems, but then comes other attributes as well such as the dynamic data-attrib*, so adding this attacher would pave the road to a great deal of more usage for this package than to add really really basic html attributes (in a nifty way).

[2017-04-27 12:08] bbashy commented on #5
Is this effecting `html()->button('<i class="icon"></i> Submit')` not allowing HTML to be rendered?

[2017-04-27 12:34] sebastiandedeyne commented on #5
Nope, but there was a bug there!

Tagged a fix in v1.1.1 🐛 🔨

[2017-04-27 12:39] bbashy commented on #5
@sebastiandedeyne Wonderful, thanks!

`Updating spatie/laravel-html (1.1.0 => 1.1.1): Downloading (100%)`

[2017-04-27 13:37] AshboDev commented on #5
Saved my life @bbashy ;)

[2017-04-28 08:51] vesper8 opened #12 "just curious why no facade available?"
First of all wanna say big fan and big user of all of your packages. Congrats on #4 spot

The older LaravelCollective you're aiming to replace had a useful Facade.. just wondering why you opted not to include one?

I know you explain how to add a helper, but I include these dependencies as part of modules that I slap on during my app scaffolding and automating the creation of an helper is not hand

[2017-04-28 09:24] sebastiandedeyne commented on #12
One of the main reasons for writing this package is to provide easy autocompletion. Facades don't provide this, and shared variables don't either, so we prefer to use a helper function.

I don't mind shipping a facade in the package for those that prefer them though. I'll try to find some time to add one later today :)

[2017-04-28 10:59] sebastiandedeyne commented on #12
Released in v1.2!

[2017-04-28 10:59] #12 closed

[2017-04-29 06:16] vesper8 commented on #9
Came here looking for the same thing.. also need it for my app.

The answer here is one way to do it http://stackoverflow.com/questions/5805059/how-do-i-make-a-placeholder-for-a-select-box

If only there was a way to apply the "disabled" flag to the options.. but currently the options only accept key->value

@bbashy how is your example even working? Did you modify the laravel-html package? The ->s

[2017-04-29 10:34] bbashy commented on #9
@vesper8 The select actually takes 3 args. I'm just using collection helper to append an item to the list of options for now.

1. name attr
2. options
3. selected value

[2017-04-29 10:57] vesper8 commented on #9
oh right.. I'm just using it differently from you so got confused. Here's how I use it

[code]

Well.. looking forward to ->placeholder() then

[2017-05-08 09:05] sebastiandedeyne commented on #9
Hi all,

Opened a PR for this. Here are the details:

- Added a `placeholder` method
- If something is already selected in the list, the placeholder won't be auto selected, otherwise it will
- It doesn't have a value. In the Collective package it has an empty value attribute, is this necessary or can I just omit it?

PR: #14

Will merge after feedback :)

[2017-05-08 09:07] bbashy commented on #9
I think that looks perfect @sebastiandedeyne 🌸

[2017-05-08 10:07] #9 closed

[2017-05-08 10:09] sebastiandedeyne commented on #9
Available in `v1.3.0`!

[2017-05-08 13:54] bbashy commented on #9
I'll add a PR but currently it's not got a missing value attribute and thus the browser is sending the text instead.

Form Data
`role: - Select Role -`

[2017-05-13 07:51] vesper8 commented on #8
can't find radio in the documentation anywhere though..

[2017-05-16 09:46] necenzurat commented on #9
Well, ``
html()->textarea('name')->placeholder('Name')->class('form-control');
``
gives ``
Call to undefined method Spatie\Html\Elements\Textarea::placeholder()
``
A semiclean fix is to use attribute method
``
html()->textarea('name')->class('form-control')->attribute('placeholder', 'Name');
``

[2017-05-16 09:52] bbashy commented on #9
@necenzurat You can do a PR for it since the other inputs have the placeholder method.

[2017-05-16 09:53] sebastiandedeyne commented on #9
On it already 😬

[2017-05-16 09:55] sebastiandedeyne commented on #9
Version `1.4.0` adds a `placeholder(string $placeholder)` method to `Textarea`.

[2017-05-16 09:55] necenzurat commented on #9
@bbashy: i know, but don't have the time right in this second.

@sebastiandedeyne: awesome.

[2017-05-19 08:00] sebastiandedeyne commented on #8
Looks like it was still missing, added it in. Thanks for the heads up!

[2017-05-24 13:34] necenzurat commented on #5
[code]

Am i doing this right? can we do something about the span/icon tag ?

[2017-05-24 13:39] bbashy commented on #5
Just a tip, you don't need to pass an array and the route param to use. You can just pass the collection;
[code]

[2017-05-24 13:49] sebastiandedeyne commented on #5
I think I'd opt to not use the builder for that button, because plain html would be more readable.

Using this html builder is generally useful for things that contain lots of repetition, like form elements, or lots of boilerplate, like form tags with csrf fields.

[2017-05-24 14:02] necenzurat commented on #5
yea, i was just trying all the functionality. was doubting keeping this because i wanna alert/confirm with the user before deleting.
Thanks for the tips :)

[2017-05-28 11:35] danijelk commented on #7
Any plans for this? Would be nice to make the switch, but without having to do too many rewrites

[2017-05-28 11:51] bbashy commented on #7
@danijelk There's probably plans but best to submit it yourself via PR if you need it?

[2017-05-28 15:54] paulredmond commented on #7
@danijelk The code I provided originally should be easy to refactor if and when a multiple method gets implemented 👍

[2017-05-28 19:22] danijelk commented on #7
@paulredmond indeed, we're mostly interested in the ability to add attributes to start with, and see how far we can go. @bbashy want to be 99% sure they would be ok with this idea before spending some time on the PR :)

[2017-05-29 07:44] sebastiandedeyne commented on #7
I definitely want to see this feature added to the package, haven't had time to do it myself. A PR would be welcome, I'll most likely pull this in (unless it adds a bunch of inconsistencies and voodoo magic somehow though 😄)

[2017-05-30 20:14] paulredmond commented on #7
@sebastiandedeyne PR for `Html::multiselect()` in the works, expect it soon 👍

[2017-06-12 16:23] sebastiandedeyne commented on #7
Hey all,

I've decided to pull in @Propaganistas's PR since that's my preferred implementation.

Since the necessary typehint change is breaking, I'm going to release a v2 soon. Don't worry, upgrading to v2 will most likely be nothing more than a simple dependency change and `composer update`. I'll write up a detailed upgrade guide stating why a major version was needed, and in which cases you'll

[2017-06-12 16:23] #7 closed

[2017-06-13 15:38] sebastiandedeyne commented on #7
Version 2 is out already so you can require a stable version for this!

[2017-06-15 18:30] filipveschool opened #32 "Translation support"
Hi, How can we load translated strings through the HTML helpers? like the function @lang('...') is in the blade directives?

[2017-06-18 14:31] bobbybouwmann commented on #32
Hi, Why dont you just call the text helper with a translation string in your application?
[code]

[2017-06-22 07:57] rickselby opened #34 "Form method()"
Calling `html()->form('PUT')` and `html()->form()->method('PUT')` generates different HTML - the latter does not add the `_method` child.

I was thinking of overriding the `open` method in `Spatie\Html\Elements\Form` and checking if the `_method` and `token` children are required there; would that be an acceptable way of solving this issue? I'm happy to put in a PR but would like to do it the 'rig

[2017-06-26 07:34] sebastiandedeyne commented on #32
What @bobbybouwmann said!

This package uses plain php, so you can use any of Laravel's localization helpers (`trans`, `trans_choice` & `__`)

https://laravel.com/docs/master/localization#retrieving-translation-strings

[2017-06-26 07:34] #32 closed

[2017-06-26 07:37] sebastiandedeyne commented on #34
This is intentional. One thing I wanted to ensure when writing this package, is that sometime you want to build HTML without any context-specific magic. All the "extra's", like csrf and _method fields, are only generated when using the actual builder. If you're using element classes by themselves, or element class instances returned from the builder, there's no hand-holding involved anymore.

This

[2017-06-26 07:37] #34 closed

[2017-06-27 09:08] rickselby commented on #34
That makes sense, thanks for the clarification.

[2017-06-29 08:41] pr4xx opened #37 "How to create grouped select lists?"
Is it possible to generate grouped select lists like:

`
[
    'Cats' => ['leopard' => 'Leopard'],
    'Dogs' => ['spaniel' => 'Spaniel'],
]
`

Much like [Generating A Grouped List](https://laravelcollective.com/docs/master/html)

Cheers

[2017-07-02 05:15] oyed opened #38 "Docs outdated"
The docs say that you don't ship with a `html()` Helper and show steps for adding one; however this is no longer true, and manually adding one errors due to a helper shipping with the package now.

<img width="1356" alt="screen shot 2017-07-02 at 13 13 31" src="https://user-images.githubusercontent.com/853683/27767363-80b50c20-5f28-11e7-8ecc-8cd621931bc8.png">

[2017-07-02 05:20] oyed commented on #38
Nevermind - the docs link on Google goes to `v1`.

[2017-07-02 05:20] #38 closed

[2017-07-04 03:21] roni-estein commented on #37
Hi Guys, interesting project, I'd like to implement this into a current project, but I think I have to change my thinking on this a bit. Any idea of where how this might be implemented, or if I'm using this in the wrong way. When I am running `$this->validate($request)` in my controller, it will pull my back to my blade file form with errors. Where is the best place to embed the error code in here

[2017-07-04 03:23] roni-estein opened #39 "If conditional in blade"
Hi Guys, interesting project, I'd like to implement this into a current project, but I think I have to change my thinking on this a bit. Any idea of where how this might be implemented, or if I'm using this in the wrong way. When I am running `$this->validate($request)` in my controller, it will pull my the process back to my blade file form with errors. Where is the best place to embed the output

[2017-07-04 05:01] roni-estein commented on #39
Probably not not the most effective, but this will get you out of a jam if you run into the same issue

[code]
If anyone could respond with a more laravel way of doing this it would be appreciated.

[2017-07-10 15:30] bbashy opened #40 "Input array names - brackets not rendering"
I've got an array input that is done like this
[code]
Which rendered this
[code]

How do I get the array brackets to render? I'm sure it used to but since upgrading, it's removed them!

[2017-07-10 16:02] sebastiandedeyne commented on #37
This currently isn't supported. If anyone wants to spin up a non-breaking PR, feel free to!

[2017-07-10 16:06] sebastiandedeyne commented on #39
This package should only be used when it's more tedious to write actual html. I'd generally use `html()` for the form fields, but keep the rest in blade.

[code]

Keep it simple :)

[2017-07-10 16:06] #39 closed

[2017-07-10 16:11] sebastiandedeyne commented on #40
Hmm looks like I introduced a regression here. I think I've got a fix ready but gonna have to double check why it was changed in the first place.

I'll tag a solution tomorrow, sorry for the hiccup!

[2017-07-10 19:10] bbashy commented on #40
Thanks for the quick response!

_Just a side note; when you put text inside the square brackets, it shows. Round brackets seem to show fine either way_

[2017-07-14 10:29] sebastiandedeyne commented on #40
Sorry, wasn't able to get back to this until now.

`dev-master` seems to be stable for me. Could you upgrade to that version and give it a spin? (if possible, please check if multi selects still work as intended)

Gonna tag a bugfix afterç

[2017-07-14 12:15] bbashy commented on #40
Tested both and they seem fine!

Thanks!

[2017-07-14 12:16] sebastiandedeyne commented on #40
Great! Just tagged `2.0.2`, so the updated version should be discovered by composer soon :)

[2017-07-14 12:16] #40 closed

[2017-07-24 08:48] sebastiandedeyne opened #41 "Add text parameter to Html::label"

[2017-07-24 08:51] sebastiandedeyne commented on #41
Nevermind, wrong package 🙈

[2017-07-24 08:51] #41 closed

[2017-07-26 14:55] pr4xx opened #42 "Multiselect does not remember old values"
Unlike normal selects, a multiselect does not remember old values when validation fails.

[2017-09-01 15:04] timgavin opened #47 "Checkbox Issue/Question"
I have a field in my `users` table named `status`, which shows the user's current status and can be either `'active', 'suspended`, or `NULL`.

If I use a checkbox field to show the user's status, and it's anything but`NULL`, the checkbox is checked, which may not be what I want.

### The User Is Active
[code]

### The User Is Suspended
[code]

Now, I know the 2nd parameter is bool, and these were

[2017-09-01 15:49] sebastiandedeyne commented on #47
When using the method parameters to pass data, the package does an educated guess based on the model data what the checkbox data should be. For cases like this, I recommend using the fluent `active` method instead, since it will trump everything that came before.

This is explained in detail in the docs: https://docs.spatie.be/laravel-html/v1/general-usage/core-concepts#the-difference-between-buil

[2017-09-01 15:49] #47 closed

[2017-09-01 16:00] timgavin commented on #47
That would be okay, but `Method active does not exist.` :(

[code]

[2017-09-01 16:05] sebastiandedeyne commented on #47
I mean `checked` instead of active...

But that doesn't exist either, thought it did! I'll tag a new version with it Monday :)

[2017-09-01 16:07] sebastiandedeyne commented on #47
This should work now though:

[code]

[2017-09-01 16:15] timgavin commented on #47
Still shows checked when the user is suspended.

[2017-09-04 12:27] sebastiandedeyne commented on #47
Version `2.3.0` is tagged with a `checked($bool)` and an `unchecked` method.

{{ html()->checkbox('status')->checked(old('status', $user->status === 'active')) }}

[2017-09-04 20:10] timgavin commented on #47
Excellent - thanks!

[2017-09-07 18:44] mattdfloyd opened #50 "Versioning out of sync"
Could we get a freshly tagged version? `2.3` is on a newer commit than `2.4`

[2017-09-07 19:11] sebastiandedeyne commented on #50
Damn, must have slipped my finger when doing that... Just tagged `2.4.1` which contains the latest release. Thanks for reporting!

[2017-09-07 19:11] #50 closed

[2017-09-13 21:14] joshuadegier commented on #37
This should be closed aswel I think @sebastiandedeyne

[2017-09-13 21:15] freekmurze commented on #37
Open source is easy 😄

[2017-09-13 21:15] #37 closed

[2017-09-17 17:39] chilly2go opened #51 "Form model binding resulting in exception"
Hi,

I wanted to generate a form for a model and use it for create/edit so I searched and found your package.
As you stated in your readme it is enough to use `{{ html()->model($myVariable) }}` to bind the Model. As the model method returns an object and laravel tries to output the result it throws an exception `htmlspecialchars() expects parameter 1 to be string, object given (View: /home/pi/www/

[2017-09-21 17:55] yoeunes commented on #51
i also have the issue, @chilly2go  did you find any work arround ?

[2017-09-21 19:04] chilly2go commented on #51
yeah.... I switched to laravelcollective/html which works without exceptions

[2017-09-21 19:07] yoeunes commented on #51
Hope @freekmurze fix this soon :/

[2017-09-21 19:59] yoeunes commented on #51
html()->model($myVariable) is returning an Html object  ( return $this ), so you could chain it like this :
[code]
or instead

[code]
i tried this, but it show empty inputs :'(

[2017-09-25 08:26] sebastiandedeyne commented on #51
[code]

That's a mistake in the readme, you can't echo after `model`. Gonna fix that example.

What @yoeunes posted is correct and should work:

[code]

If you're seeing empty inputs, are you using v2 of the package and are you sure that the package service provider is registered? (is your config cache cleared too?)

[2017-09-28 08:28] sebastiandedeyne commented on #51
Gonna close this for now, feel free to reopen if you're still having issues here!

[2017-09-28 08:28] #51 closed

[2017-09-29 12:59] fragkp opened #53 "Laravel 5.5"
Hey,
i wanted to ask when its planned to upgrade this repo to Laravel 5.5.

greets

[2017-10-02 12:46] sebastiandedeyne commented on #53
Hi, this repo is already compatible with 5.5. If you're having any problems, feel free to reopen this issue with a bug report!

[2017-10-02 12:46] #53 closed

[2017-10-11 09:19] bbashy opened #56 "Optgroup selected value"
Having some trouble getting the value to be selected when using a multi-dimensional array.

Maybe I'm formatting it wrong but couldn't work out what to do.

This
[code]
Generates
[code]

How do I use optgroup selects?

Thanks.

[2017-10-11 10:57] sebastiandedeyne commented on #56
Looks like that wasn't implemented yet. Just tagged `2.6.0` which should do the trick!

See https://github.com/spatie/laravel-html/commit/d280b15a58f561a9b2925e95480abb167d68b8f9

[2017-10-11 10:57] #56 closed

[2017-10-11 10:59] bbashy commented on #56
Great, thanks!

I did see `->selectedIf($value === $this->value);` for the optgroup but guessing that's for something else?

[2017-10-11 11:48] sebastiandedeyne commented on #56
Where do you mean?

[2017-10-11 11:49] bbashy commented on #56
This line https://github.com/spatie/laravel-html/blob/master/src/Elements/Select.php#L87

Working perfectly with the new release :+1:

[2017-10-11 11:53] sebastiandedeyne commented on #56
Not sure why that doesn't work actually 😂

But yeah was a bad place for it, new implementation is more reliable :)

[2017-10-11 11:54] bbashy commented on #56
Yeah, I did some debugging and did this but it was an empty string.
[code]

[2017-10-11 11:57] sebastiandedeyne commented on #56
Iirc that's there for when that line is called after the value has been set, while the builder class sets the value after generating the html.

[2017-10-11 11:58] bbashy commented on #56
Right, understand now :)

[2017-10-13 09:45] bbashy opened #60 "Email input not showing value using modelForm"
Hi,

Think I found a bug in the email type value.

[code]
[code]

[2017-10-13 09:52] bbashy commented on #60
Could be related to #59

[2017-10-13 09:53] sebastiandedeyne commented on #60
Managed to reproduce this with a failing test, gonna take a look now

[2017-10-13 09:54] sebastiandedeyne opened #61 "Improve test coverage"
Not all elements and methods have tests (Travis currently indicates a mere 45% coverage)

[2017-10-13 09:55] bbashy commented on #60
Many thanks! I've temporarily fixed it by using the input method.

[2017-10-13 10:22] #60 closed

[2017-10-13 10:24] sebastiandedeyne commented on #60
Tagged a fix in `2.8.2` :)

[2017-10-21 11:12] vpratfr opened #64 "Extending this package to generate Bootstrap 4 markup"
Hi,

The package looks great and I would love to extend it in order to make life easier for folks using Bootstrap 4 (which I will be using in the project I just started).

Would you have any advice/quick thoughts on how to build a new package which uses yours and extends it?

Basically, the new package should keep a syntax similar to your package, be able to add the bootstrap classes easily (like

[2017-10-21 11:49] sebastiandedeyne commented on #64
There are two options off the top of my head:

- If you want to keep the same method signatures, extend the `Html` class, and modify the method bodies to your use case
- If you want your own API, simply create a new class and use this html builder under the hood

We're doing some more advanced stuff in our Laravel boilerplate, Blender. For the base API, we've [extended the `Html` class](https://gi

[2017-10-21 11:49] #64 closed

[2017-10-21 13:36] vpratfr commented on #64
Great. Actually in the meantime I have been doing something very similar to what you do in Blender (replace singleton in a provider + subclass HTML).

Thanks for the pointer to Blender. Did not know about it. Some nice ideas to pick from it.

Greetings from Basque country.

[2017-10-21 18:25] vpratfr commented on #64
Here is a first companion to your package: [marvinlabs/laravel-html-font-awesome](https://github.com/marvinlabs/laravel-html-font-awesome).

Will takle Bootstrap more or less in the same way.

[2017-10-27 10:09] richardselby opened #65 "Retrieving old data for input arrays"
Say I have some checkboxes as an array:
[code]
If validation fails and we return to the form, the `old()` function won't pick up an old value for these elements; it's looking up `permission[1]` when it needs to look up `permission.1`.

I guess it'd need a helper to convert `permission[1]` to dot notation, but I can't see one that exists yet.

For now, I'm calling `old()` explicitly:
[code]

[2017-10-27 12:24] sebastiandedeyne commented on #65
I'd accept a non-breaking PR that fixes this in this package's `old` method.

https://github.com/spatie/laravel-html/blob/5d7225d5e70bfcd0cbfd696291f3937056133294/src/Html.php#L440

[2017-12-28 08:27] #65 closed

[2018-01-05 18:11] sebastiaanluca opened #71 "2.8 release breaks macro on classes extending BaseElement"
The 2.8 release notes mention this:

### Problem

Apparently this breaks a macro I've set up for the Input, Textarea, etc classes that can be extended using mixins. Works fine on 2.7. Upgrade to 2.8 returns the following error:

<img width="447" alt="screen shot 2018-01-05 at 19 00 30" src="https://user-images.githubusercontent.com/711940/34622018-b2aa8230-f24b-11e7-938e-6ecfe69760fc.png">

Type e

[2018-01-06 07:23] sebastiandedeyne commented on #71
I've never used mixins, so I'm not completely following yet. Where does `__call` get called with less arguments exactly? Do you have a full stackrace?

[2018-01-07 04:17] sebastiaanluca commented on #71
A mixin function is practically the same as `Input::macro()`, but I should try and test it with a regular macro just to be sure.

So this works fine:

[code]

This does too:

[code]

This does not (works in 2.7 and before):

[code]

`highlightOnError()` (a macro function) is called and —since 2.8— passed through the `__call` method which requires additional parameters. I'll try and get you a full

[2018-01-08 10:12] sebastiandedeyne commented on #71
I think I see what's wrong, I shouldn't be spreading the arguments at `BaseElement` L402.

Could you remove the spread, so...

[code]

...and see if that resolves the issue?

https://github.com/spatie/laravel-html/blob/b1d438aee81e3913b253d338bef907433c657222/src/BaseElement.php#L402

[2018-01-08 16:50] sebastiaanluca commented on #71
Yep, that fixes it :)

[2018-01-08 17:51] sebastiandedeyne commented on #71
Cool, I’ll push a fix tomorrow :)

On 8 Jan 2018, 17:50 +0100, Sebastiaan Luca <notifications@github.com>, wrote:

[2018-01-09 10:11] sebastiandedeyne commented on #71
Released a patch version that should fix this!

[2018-01-09 10:11] #71 closed

[2018-01-09 14:59] sebastiaanluca commented on #71
Thanks for the quick fix! 🙌

[2018-02-02 11:00] sebastiandedeyne opened #72 "Add readonly method to Input"
E.g. `html()->input('token')->readonly()`

[2018-02-02 11:02] sebastiandedeyne commented on #61
This is good enough for now :)

[2018-02-02 11:02] #61 closed

[2018-02-02 11:04] codepotato commented on #72
Should that be html()->input('token')->readonly()

:)

[2018-02-02 11:06] sebastiandedeyne commented on #72
Yeah that's better 😅

[2018-02-06 08:31] dmitrijivanenko commented on #42
Seems it is not an issue anymore, can not reproduce it.

[2018-02-07 09:16] necenzurat opened #74 "Textarea value broken"
Hey, since some time ago, i had something like

[code]
it throws "The given child should implement `Spatie\Html\HtmlElement` or be a string (View: ..."
fixed it by
[code]
What happend?

[2018-02-07 19:31] JaimeVirrueta opened #75 "Render a Select imput with group-options"
hi, i try to make a select imput with options group but i get this error

`htmlspecialchars() expects parameter 1 to be string, array given (View: C:\xampp\htdocs\webApp_Atlas\resources\views\partials\form\select.blade.php)`

and the array

`array:2 [▼
  0 => array:1 [▼
    "Administración" => array:6 [▼
      "506524b5311d80c0fe2f7477d9476947" => "*Inicio*"
      "d8d953123ce0c43a5e0eadae53b76f7b

[2018-02-07 20:06] kubk commented on #75
Can you provide the code please?

[2018-02-07 21:52] JaimeVirrueta commented on #75
Sure,

In the model **PermissionCategory**

	public function listFormWithCategories () {
		$rows = $this::get();
		$parent = $rows->where('parent_id', null)->sortBy('name');
		$val = [];
		foreach ($parent as $key) {
			array_push($val, $this->listFormWithCategoriesSubs($rows, $key));
		}
		return $val;
	}

	private function listFormWithCategoriesSubs ($categories, $category) {
		$tmp = array($cat

[2018-02-08 14:27] sebastiandedeyne commented on #74
What value is `$phones` holding when you get that error? An array by any chance?

[2018-02-08 14:29] necenzurat commented on #74
nope, string, it worked a little wile ago.

[code]

[2018-02-08 14:56] sebastiandedeyne commented on #74
Hmm can't seem to reproduce this. Are you sure the snippets in your first comment are in the correct order? The second snippet seems more likely to break like this...

[2018-02-19 01:08] mindpixel-labs opened #79 "Use Outside Laravel"
Can this package be used in regular PHP projects outside Laravel?

[2018-02-19 11:01] sebastiandedeyne commented on #79
We don't really support this because it depends on Laravel's request/session to handle form input values.

Initially we were going to support non-Laravel environments, but it was too much overhead to maintain, so we dropped the idea.

[2018-02-19 11:01] #79 closed

[2018-02-19 21:20] Jesusfrosalesi opened #80 "Help with radio button"
How can i retrieve data from controller using model form for radio button?, can you give me a example?

for examle my controller sends  this data->name, this attribute contains "Carl". , i have 3 radio buttons, then i want to only check the radio with value carl, any idea ??. Thanks!

[2018-02-20 11:03] sebastiandedeyne commented on #80
Can you please provide a few code samples (controller & view) of what you're trying to achieve?

[2018-02-20 13:48] #74 closed

[2018-02-21 20:17] paulredmond opened #81 "Question about InputTest and Potential False Positives"
Hey Guys 👋

I was looking at adding a few convenience input methods (for date and datetime) but I am a little confused by the tests for `InputTest`.

For example:

https://github.com/spatie/laravel-html/blob/b4108dd504d1f0157854dfaa7e0360d698e5a8b1/tests/Html/InputTest.php#L25-L32

This concern is _not_ checking attributes right now, and even if it was it would only assert that an attribute is pre

[2018-02-22 09:34] sebastiandedeyne commented on #81
Looks like my `Fix html assertions` commit from two weeks ago fixed them by making everything pass instead 😅

https://github.com/spatie/laravel-html/commit/61c72eb829711373aa6375bdbb7541e4554793e1

Reverted to a modified version of the previous assertion method, looks better now.

Those convenience methods are definitely welcome :)

[2018-02-22 09:34] #81 closed

[2018-02-22 18:51] paulredmond commented on #81
Cool, I thought I was going crazy for a minute (still quite possible) 👍

[2018-02-23 10:03] sebastiandedeyne commented on #75
Hi, judging by the `Form::select` snippet, are you sure you're filing this issue in the right repository? We don't support that parameter list.

I think you're looking for this repo: https://github.com/LaravelCollective/html

[2018-02-23 10:03] #75 closed

[2018-02-23 10:04] #72 closed

[2018-02-23 10:04] #42 closed

[2018-02-23 10:05] sebastiandedeyne commented on #80
Doing some issue cleanup, feel free to reopen if you're still experiencing issues.

[2018-02-23 10:05] #80 closed

[2018-02-26 09:21] brentkozjak opened #85 "Opening a form multiple times does not generate unique csrf token input ids"
When opening a form on any given page using the standard `{{ html()->form('POST', route('named.route'))->open() }}`, an input field is generated for the CSRF token:

`<input type="hidden" name="_token" id="_token" value="abcdef...">`

The problem is when you include multiple forms on a single page, the "id" attribute ("_token") of the input element remains the same, which impacts HTML validity.  I

[2018-02-26 10:41] sebastiandedeyne commented on #85
Makes sense! I tagged a new version that doesn't add an `id` attribute.

[2018-02-26 10:41] #85 closed

[2018-03-10 23:06] Fr0ntman opened #92 "Radio inputs doesnt fill with old input"
Hello! When try:
[code]
radio inputs like:
[code]
doesnt fill correctly.
This doesnt work:
[code]
This works:
[code]

[2018-03-11 12:27] sebastiandedeyne commented on #92
That's actually the expected behaviour! Reasoning about this is described in the docs: https://docs.spatie.be/laravel-html/v2/general-usage/core-concepts#the-difference-between-builder-params-and-element-methods

[2018-03-11 12:27] #92 closed

[2018-03-11 17:39] Fr0ntman commented on #92
But this doesnt work too:
[code]
What i do wrong? Or out of the box we havent filling radio inputs with old input?

[2018-03-23 14:55] sebastiandedeyne commented on #92
Released `2.19.1` that should fix this issue, could you give it a try?

[2018-03-26 04:50] houcinecherif opened #93 "Using the '+' char with a number inside a list select the wrong value !"
Laravel Version: 5.5.*
PHP Version: 7.1.9
Database Driver & Version: MySQL 5.7.19
Description:

Hi,
When I use the '+' char with a number inside a list value I'have the wrong value selected !

Steps To Reproduce :
on this code the selected value is "+2" and "2" , it return two selected items !!
[code]
on this one its correct :
[code]
Is there any workaround without writing loop with HTML ? or shou

[2018-03-26 09:20] sebastiandedeyne commented on #93
Fixed in `2.19.2` :)

[2018-03-26 09:30] #93 closed

[2018-03-27 14:38] bbashy commented on #93
Think this breaks `modelForm` forms. https://github.com/spatie/laravel-html/commit/09d429dd7b4a311eec32239f9ac515e608f667cf

[2018-03-27 15:04] sebastiandedeyne commented on #93
@bbashy Think I know what's going on but wanna write a failing test first. What's the difference between your example and [this](https://github.com/spatie/laravel-html/commit/b06b26d94aa98ce138ea12c1cfd7d4b0e4eb3eb3) test? Could you provide some extra data?

[2018-03-27 15:09] bbashy commented on #93
@sebastiandedeyne It would probably be the selected value. That's testing `null`?

I have a modelForm from a model that I'm editing `/resource/1/edit` with `pluck()` option list. Here's something that I found;
[code]

[2018-03-28 09:46] sebastiandedeyne commented on #93
Don't think this is solvable. I reverted the change, since the previous behaviour was better.

@houcinecherif Your snippet won't work for now, because in PHP `2 == +2`, and I don't think we can easily fix this without breaking things.

[2018-03-28 09:48] sebastiandedeyne opened #94 "Provide a way to have optional strict value checks for Select values"
See #93

[2018-04-12 20:01] willishq opened #95 "Make placeholder for select input disabled"
When I am creating a form with a placeholder for the select input, it currently makes the placeholder selectable. What I am suggesting is that we make the placeholder option disabled so that once it has been changed, the placeholder can not be selected again. This is especially useful for required form elements as it stops the user from being able to deselect an option and invalidating the form.

[2018-05-03 15:52] sebastiandedeyne commented on #95
I agree with this behaviour, and would rather do it by default in the next major version, but I don't think we should push this as a breaking change now.

How about we add a `disabledPlaceholder` method for now? That way it's more explicit than a boolean value. Feel free to send a PR if you agree 👍

[2018-05-11 10:19] texnika01 opened #98 "Need element enctype in form"
need add element  enctype= multipart/form-data for form open
{{ html()->form('PUT', '/update-url', )-element('multipart/form')->open() }}
need for using upload file

[2018-05-11 10:39] sebastiandedeyne commented on #98
The `Form` class has an `acceptsFiles` method that adds the `enctype` attribute.

https://github.com/spatie/laravel-html/blob/32ae895f65f89d474430ef1fe4b6c54f65327938/src/Elements/Form.php#L42-L45

[2018-05-11 10:39] #98 closed

[2018-05-21 20:56] Magentron commented on #94
Maybe not the most elegant solution, perhaps someone has some improvements for it?

[2018-05-29 09:18] gamevnlc opened #100 "Radio zero value"
I tried to make radio have value is zero. It's always change value from 0 to 1. Is it a bug?
My code
`            {{ html()->radio('is_default', $clientType->is_default == 0, 0)->id('form-radio-default-2')->class('form-check-input') }}`

![image](https://user-images.githubusercontent.com/2215185/40649788-5ada1e00-6364-11e8-9112-f07a64b6828e.png)

[2018-06-05 01:31] gamevnlc commented on #100
Yep i think so, how could i avoid this ?

[2018-06-05 22:56] brentkozjak opened #102 "Non-unique element ID's generated on various input field attributes"
Expanding upon the closed issue #85, other input field attributes such as "method", "email" and "password" are creating duplicate "id" attributes resulting in the same errors in the browser console.  For example, in my scenario I have both a modal login form and a login page, so when using: `html()->email('email') ...` and `html()->password('password') ...` more than once on a single page, I recei

[2018-06-28 01:59] uyab opened #104 "Custom attribute for option tag"
I need to generate option tag with custom attribute, e.g. `<option value=1 data-parent=8>Jakarta</option>`. Is it possible to do that using `html()->select()` helper?

[2018-06-28 08:16] sebastiandedeyne commented on #104
It's possible, but you'll need to add the options yourself instead of using the helper function.

Here's what the implementation looks like:

https://github.com/spatie/laravel-html/blob/32ae895f65f89d474430ef1fe4b6c54f65327938/src/Elements/Select.php#L51-L68

So something like this should do the trick:

[code]

[2018-06-28 08:16] #104 closed

[2018-07-21 11:10] kiwikefei commented on #102
same page, different forms switched by tab will automatically add same hidden inputs with id="_method" which causes the `non-unique id #_method` error in chrome console. not a big deal but a bit annoying for an OCD developer 😃

[2018-07-30 13:50] sebastiandedeyne commented on #102
This package will never be smart enough to foresee this case. If you have multiple fields with the same name on a single page, I suggest you explicitly declare your own id's.

[code]

[2018-07-30 13:50] #102 closed

[2018-07-30 13:52] sebastiandedeyne commented on #100
If you wan't to ignore the model's and old values for custom behavior, use a named method to set the value instead.

[code]

[2018-07-30 13:52] #100 closed

[2018-08-02 09:57] Lavannyamuthu opened #106 "Add Attributes to Html Form() Method"
Add Attributes to form() method so that we can any class,autocomplete off kind of attributes. like the following:

public function form($method = 'POST', $action = null, $attributes = null)
    {
        $method = strtoupper($method);
        $form = Form::create();

        // If Laravel needs to spoof the form's method, we'll append a hidden
        // field containing the actual method

[2018-10-05 16:58] harrysbaraini opened #108 "Allow boolean to all Required methods"
Hello, I've found a [this PR](https://github.com/spatie/laravel-html/pull/90) , but it only changed Input, but there are required methods in other elements, like [File class](https://github.com/spatie/laravel-html/blob/45da25ffb6cf44449d2ce1dcaf39e61366bcf185/src/Elements/File.php#L35).

Is there anything that prevents updating other `required` methods?
Otherwise, I'd be glad to open a PR.

[2018-10-08 06:46] sebastiandedeyne commented on #108
Sounds good, go for it!

[2018-10-08 06:46] #108 closed

[2018-10-11 02:53] turbo124 opened #109 "@lang throws exception Laravel 5.7"
using the following throws an exception in Laravel 5.7

{{ html()->email('email')->placeholder(@lang('texts.email_address'))->class('input is-large') }}

error:
syntax error, unexpected '<'

 <?php echo e(html()->email('email')->placeholder(<?php echo app('translator')->getFromJson('texts.email_address'); ?>)->class('input is-large')); ?>

However the following works fine.
{{ html()->email('email'

[2018-11-06 03:34] komarnicki opened #112 "Unable to preselect dropdown with already assigned value"
It should be trivial but what am I missing?

I'm generating dropdown with languages.

[code]

Languages prints everything correctly (ID as value and Name as what's visible for user). Also `$title->language_id` shows correct integer, however dropdown it not preselected with language that's somewhere in the middle of the list.

Should I put `$title->language_id` as the third element or somewhere els

[2018-11-06 05:07] komarnicki commented on #112
All right. It has to go as the value: `->value($title->language_id)`. Then it works. 🤦🏻‍♂️

[2018-11-06 05:07] #112 closed

[2018-11-08 10:46] brendt commented on #109
`trans()` or `__()` are both valid options, `@lang` won't work because, as @htulibacki said, you're in a PHP context there, not Blade.

[2018-11-08 10:46] #109 closed

[2018-11-14 08:49] aalaap commented on #106
You can do this by setting the attributes directly on the `form()` method *before calling `open()`*, like this:

    {{ html()->form('POST', '/foo/bar')->attribute('class', 'bar-form')->open() }}

[2018-11-21 14:02] #106 closed

[2018-12-05 12:00] lklion opened #113 "Wrong checkbox tick on failed validation using modelForm"
Using `modelForm` checkboxes are checked correctly with model values but, if there is a validation error (eg when a FormRequest fail) and I have unticked a checkbox, this is checked again.

An example of what I mean:
[code]

1. Imagine that "service" value on database ["web" => 1]
2. Untick the "web" checkbox and set "delivery" as checked
3. Submit the form with a FormRequest that fail (eg for ano

[2018-12-05 12:08] sebastiandedeyne commented on #113
Unchecked checkboxes unfortunately don't get sent to the server, this doens't have anything to do with how we generate HTML. I suggest you look into this workaround: https://stackoverflow.com/a/2520970

[2018-12-05 12:08] #113 closed

[2018-12-05 17:07] billmn commented on #113
@sebastiandedeyne Mmmmm, personally I think this issue could be a bug.

It's true that unchecked checkboxes don't get sent to the server but the current `modelForm` method doesn't fill checkboxes correctly.

This issue could be simply fixed by checking that session old inputs array is empty.
There is no need to retrieve value from the model after a submit.

If it's ok for you I can made a PR.

##

[2018-12-06 08:03] sebastiandedeyne commented on #113
Sounds good, feel free to send a PR!

[2018-12-11 08:19] sagarbasnet opened #116 "Issues with Radio Button"
i want to set the radio button in the form using controller( no database included). And i even have no idea how to set the radio button in the form using controller .

[2018-12-27 16:56] nayzawoo opened #117 "I can't use html form for errors pages"
I can't use html form for errors pages like 404.blade.html

Error show:
[code]
Laravel Framework 5.7.17
PHP 7.3

[2018-12-28 05:41] devinpearson commented on #116
Can you give more context to the issue your facing.
You can generate a radio button in your controller using the following:

`html()->radio('name');`

[2019-01-31 07:38] hebbet opened #125 "Add Support for range"
support for `input type=range` would be nice.

[2019-01-31 08:19] nyel-dev commented on #74
For people that might encounter this issue, you have to use
`html()->textarea('body')->text('string')`
instead of
`html()->textarea('body')->value('string')`

[2019-02-08 14:40] awminux opened #127 "Display encrypted values"
hi
my data is encrypted
in edit form how i can decrypte data and show value??

[2019-02-18 11:23] fsou opened #128 "Pretty print HTML"
Hi!

I am trying to display a list of buttons using the HTML builder.

When using inside a blade template, I can manually create the buttons and each button creates it's own line of HTML.

[code]

When creating the list of buttons using a Renderer, the items wont get a line for each one.
[code]

The issue here is that as side effect, I'm getting the buttons without any space between them, when usi

[2019-02-27 17:02] ronydebnath opened #130 "v2 documentation returns 500 error"
while v1 is working fine, v2 docs returns error 500, Please have a look and fix it.

![screenshot from 2019-02-27 22-54-52](https://user-images.githubusercontent.com/10370201/53508010-2be62100-3ae3-11e9-9f29-8b6aa3600351.png)

[2019-03-21 13:16] rabol opened #131 "When using html()->date() the model value is not populated"
Hi

I use the html()->date(....) with a model where the date is a timestamp, but when the form is shown, the value in the model is not pre-set

{{ html()->date('start_date')
                                ->class('form-control')
                                ->placeholder('Enter date')
                                ->required() }}

[2019-03-21 21:12] rabol commented on #131
one have to format the value e.g like this date_format($date_value, "Y-m-d")

[2019-05-19 15:25] timgavin opened #133 "Handling Relationships"
I'm just getting started with the package so I may be doing this incorrectly, however I'm curious if this package handles relationships?

I want to use my form for creating and editing, but an error is thrown if `$user` doesn't exist, so I'm doing this now, which seems clunky. Is there another way?

[code]

[2019-06-01 07:19] atymic commented on #127
Please provide more info and the code if you have still not resolved you issue.

[2019-06-01 07:21] atymic commented on #133
Providing you are running PHP 7, you can just use the null coalesce operator like so:
[code]

[2019-06-01 07:24] atymic commented on #131
I'd be happy to create a PR for this, should be a pretty simple fix.

[2019-06-01 07:25] atymic commented on #130
I think this issue can be closed, the documentation seems to be working now:
https://docs.spatie.be/laravel-html/v2/introduction

[2019-06-01 07:28] atymic commented on #128
One way to handle this would be with CSS. I'm not sure the behaviour should be changed, as it would be a BC break for anything relying on the old behaviour.

[2019-06-01 09:53] #133 closed

[2019-06-01 09:54] freekmurze commented on #131
Go ahead @atymic

Be sure to include some tests 👍

[2019-06-01 09:55] #130 closed

[2019-06-03 10:01] #125 closed

[2019-06-04 09:10] fsou commented on #128
As a Workaround I've added a blank space after each button, that way the items wont be glued together.
`->child(' ');`

CSS would handle this, but I still consider it as an abnormal behaviour... The BC break can also be handled using CSS.

[2019-06-12 06:35] horsebuzz opened #136 "ModelForm issue when extending Html"
Hi

I am using the latest version of the package.

I have extended the package to display error messages like following `App\GlobalIt\Html.php`

    <?php

    namespace App\Acme\Html;

    use Spatie\Html\Html as SpatieHtml;

    class Html extends SpatieHtml
    {

        public function text($name = null, $value = null)
        {
            $errorMessage = "Test";

            if ($errorMessa

[2019-06-12 10:26] #136 closed

[2019-06-16 23:38] atymic commented on #127
@awminux ^

[2019-06-20 05:33] nasirkhan opened #138 "Form Validation"
Is there any recommendation on form validation at frontend?

I am using this package for creating forms so it would be great if it can be used to easily show inline form validation results.

[2019-06-23 21:34] atymic commented on #125
PR is open for this here: #135

[2019-06-23 21:42] atymic commented on #138
I don't think there's any specific recommendations. It really depends on how your front end is built (and with what technologies).

[2019-06-23 21:44] #138 closed

[2019-07-05 09:13] YordanovBg opened #139 "html->password() fill hashed value from DB in password input"
I use html->password() with model form, in my case password is part of hidden attributes, but in rendered html i see hashed value
"\<input type="password" name="password" id="password" value="$2y$10$gPIv1ljqz7z2IEL/IgI3YOF..." class="form-control">\"

    protected $hidden = [
        'password', 'remember_token',
    ];

[2019-07-06 02:43] atymic commented on #139
As per the laravel docs, `$hidden` only hides the attributes from serialization (and not from direct access)
https://laravel.com/docs/5.8/eloquent-serialization#hiding-attributes-from-json

[2019-07-09 03:33] mastito03 opened #140 "model doesn't pass down when using blade include or component"
when loading form input from other blade file than form open, the model is null so input doesn't get the value.
I need to place form input in other file so I can make more complex layout for input without write it again and again.

[2019-07-11 08:48] #140 closed

[2019-09-03 17:33] sebastiandedeyne commented on #128
I consider this expected behaviour. Whitespace should be added explicitly.

[2019-09-03 17:33] #128 closed

[2019-09-03 17:34] sebastiandedeyne commented on #127
Please provide as much code as possible so we can investigate. Feel free to open a new issue if this is still a problem.

[2019-09-03 17:34] #127 closed

[2019-09-03 17:35] #139 closed

[2019-09-03 17:47] #131 closed

[2019-09-04 11:47] fdrobnic opened #142 "Number element"
Please provide a method to generate numeric input element like this:

    /**
     * @param string|null $name
     * @param string|null $value
     * @param string|null $step
     *
     * @return \Spatie\Html\Elements\Input
     */
    public function number($name = null, $value = null, $step = null)
    {
        return $this->input('number', $name, $value)
                ->attributeIf($step, '

[2019-09-04 13:39] sebastiandedeyne commented on #142
Feel free to send over a PR :)

[2019-09-18 14:48] Larsklopstra opened #144 "Populate select with collection"
I've been facing an issue where I can't populate the select menu with a collection from my database.

[code]

A course is just a simple object with an `id`, `name` and timestamps.

**What happens?**

Instead of seeing the name I see the object being printed as JSON.

**What did I expect?**

I expected the `value` to be the `id` with the `name` as text

[2019-09-18 20:48] sebastiandedeyne commented on #144
Options expect an associative array in a `value => label` format.

Try `html()->select('course', $courses->pluck('name', 'id')`.

[2019-09-18 20:48] #144 closed

[2019-09-24 19:35] riasvdv commented on #142
Thanks @fdrobnic for your work, merged and tagged!

[2019-09-24 19:35] #142 closed

[2019-09-26 14:26] immersiontravis opened #146 "Are model relationships supported in model forms? If so, what's the correct notation?"
I couldn't find this in the docs, and I've been unable to discern any pattern through experimentation.

Say that I'm using a model form, bound to a Parent model. Parent has a one-to-one relationship with Child.

The user should be able to edit both the Parent and the Child in a single form. Something like this (this is untested pseudocode):

    {{ html()->modelForm($parent, 'PATCH', route('admin.

[2019-10-25 06:28] Nix-id commented on #113
@billmn
hi
affter this fix
``
if (empty($value) && $this->model && empty($this->request->old()))
``

if i manualy set value to one field with
``
session(['_old_input.key' => $request->get('key', $default)]);
``

then all other fields in form are empty.

it must be changed to
``
if (empty($value) && $this->model && empty($this->request->old( $name )))
``

[2019-11-02 18:24] JuyelRana opened #147 "Form Validation"
Is there any Client-Side Javascript Validation system?

[2019-11-03 09:29] atymic commented on #147
This library is for generating HTML. It has nothing to do with client side validation libraries.

[2019-11-03 16:06] JuyelRana commented on #147
Please try to do like https://glhd.github.io/aire/validation. Anyway awesome your library for model binding and generating html.

[2019-11-20 15:59] stevebauman opened #148 "Thank You"
I just had to create an issue here and say how much I love this package, it's absolutely excellent and has saved me insane amounts of time and effort.

Thank you so much! :heart:

[2019-11-20 16:00] #148 closed

[2019-12-28 22:02] tekook opened #150 "Input / Datetime-Local support"
Hi there,

i just noticed that laravel-html is missing support for datetime-local.
As datetime-local is the preferred method to display a date and time in one element.

Datetime-local needs formating "Y-m-d\TH:i:s".
I created a pull-request: https://github.com/spatie/laravel-html/pull/149

[2020-01-15 11:14] tekook commented on #150
Any Update?

[2020-01-15 15:04] sebastiandedeyne commented on #147
There are no plans to add any sort of JavaScript validation. As @atymic said, this library is only for generating HTML.

[2020-01-15 15:04] #147 closed

[2020-01-21 20:10] tekook commented on #150
Closing since #149 has been merged.

[2020-01-21 20:10] #150 closed

[2020-01-27 11:01] #146 closed

[2020-02-02 09:51] tekook opened #151 "Automated Error Class Handling?"
Hi there,

since we are using this lib for **Laravel**, why not add a handling for an automated error class?

Currently I'm adding the "is-invalid" class by checking if the ErrorBag has the corresponding attribute in it.

`html()->input('name')->addClass($errors->has('name') ? 'is-invalid' : '')`

We could easily access the Request on rendering the InputElement and check for the ErrorBag.
We shoul

[2020-02-17 12:43] damms005 opened #153 "Priority for old session data in model binding"
Is it possible that when a form element is generated, like a text input, if there is an item in the Session flash data matching the input name, that will take precedence over the model's value. So that there is a kind of priority for the binded model valus, pretty much like:

Session Flash Data (Old Input)
Model Attribute Data

So that it is easy tp re-populate forms when there is a validation err

[2020-02-25 08:18] iosiflivadaru commented on #104
How to give attributes to options that are inside a select tag?

I'm not sure how am I supposed to use this -> https://docs.spatie.be/laravel-html/v2/general-usage/element-classes/#option  .

For example I want to make one option selected if it matches whatever the condition is.

[2020-03-03 03:25] FareedR opened #155 "Plugins attribute didn't worked"
I don't know whether plugin issue or this package issue. If I using traditional way , it worked correctly . If I using this package method . Somehow the placeholder didn't worked. This is my code

Plugins used : https://select2.org/
Traditional way
`
    <select name="signal[]" class="form-control" data-toggle="select2" data-placeholder="Signal">
        <option></option>
        @foreach($signals

[2020-03-24 08:27] sebastiandedeyne commented on #155
Could you also share the HTML that the package renders so we can compare with the traditional way?

[2020-03-24 08:27] #94 closed

[2020-03-24 08:29] sebastiandedeyne commented on #153
You can always override the values by explicitly passing them.

In this example, `old('user_name')` won't be used.

[code]

[2020-03-24 08:29] #153 closed

[2020-03-24 08:36] sebastiandedeyne commented on #151
Gonna hold off on this for now. I think this would be a but too opinionated for the package.

[2020-03-24 12:12] damms005 commented on #153
So what happens when `$user->user_name` is undefined but there is an `old('user_name')`?

[2020-03-24 12:41] sebastiandedeyne commented on #153
Sorry, I think I misunderstood your issue. I thought you wanted to ignore whatever is in `old`.

Could you rephrase what you're trying to do? If possible with some code examples and expected output.

[2020-03-28 09:28] damms005 commented on #153
Description:

1. I have a generic `user_profile_form.blade.php` file that I use to add/edit users. It uses form model binding
2. When I load the view for existing user, everything works fine. Perfect!
3. Now, I load this same generic view for a new user, so for the model binding I just new-up a new `User` clas
4. User fills the `username` and `email` fields and submits form, but validation error c

[2020-03-30 12:00] sebastiandedeyne commented on #153
Hmm looks like something's wrong then, because that *is* the default behaviour…

See https://github.com/spatie/laravel-html/blob/e138b02d964d15dfd33437b957df4755508d3835/src/Html.php#L583

It uses Laravel's `old` function under the hood. It tries to retrieve a session value, and if none are available, it retrieves it from the model.

Could you share the contents of `user_profile_form.blade.php`?

[2020-04-01 08:08] damms005 commented on #153
Then this issue can be closed then. I won't be able to share file content since I had since found a way around it (was an urgent feature do deploy at the time...couldn't wait). However, since this is the default behaviour, then there definitely was something wrong with me implementation at the time.

I believe this should have a place in the readme doc.

[2020-05-08 07:15] grencik opened #159 "Model form with relations"
I have this situation

[code]
It does put proper value from model, but generate same name attribute (`profile.nickname`) as name of field. In Laravel it should be `profile[nickname]`. Then in Laravel I can validate that with `profile.nickname` and get from validated array as `$validated['profile']['nickname']`.

Solution for now is simple: put name manually

[code]

[2020-06-03 10:00] #151 closed

[2020-06-23 06:45] nguyentranchung opened #161 "Bug: Element Select multiple render options"
[code]

Output html
[code]
The error here is because checking the multiple attribute before it is set.

https://github.com/spatie/laravel-html/blob/199f72b7e9dc71a9a819fb596f8caa868cfed118/src/Elements/Select.php#L131

#155 related

[2020-06-23 07:19] nguyentranchung commented on #161
I used this method temporarily to solve.
[code]

[2020-07-19 10:31] olamida opened #163 "How to set enctype="multipart/form-data" for file upload"
I am trying to implement file upload, but I can't seems to figure out how to set the enctype="multipart/form-data" form attribute to me upload files.

my form <form> tag is as below:
`{{ html()->form('POST', route('admin.category.store'))->class('form-horizontal')->open() }}`

How do I add the attribute enctype="multipart/form-data"?

[2020-07-19 11:16] olamida commented on #163
I have solve this issue.

from the documentation page: [https://docs.spatie.be/laravel-html/v2/general-usage/element-classes/](url),
form definition: [https://docs.spatie.be/laravel-html/v2/general-usage/element-classes/#file](url), and file element  definition: [https://docs.spatie.be/laravel-html/v2/general-usage/element-classes/#file](url) .
After adjustment, my code looks like below:

**This i

[2020-07-19 11:16] #163 closed

[2020-07-27 10:01] #155 closed

[2020-08-01 05:30] CasperBE opened #164 "Form model accessors"
Hi, I'm converting my forms from laravelcollective/html to spatie/laravel-html and I love working with this package so far.
Now I've come to convert some edit/update forms where I use form model binding. For certain fields (eg. dates, amounts) I'm using [form model accessors](https://laravelcollective.com/docs/6.0/html#form-model-accessors) so that the values from the database are getting formatte

[2020-09-09 10:01] #159 closed

[2020-10-26 11:02] #161 closed

[2020-11-30 15:11] sipy opened #167 "BUG: On validation error model binding is not working on disabled elements"
### ENVIRONMENT
**PHP:** 7.2.14
**Laravel:** 7.0
**Laravel-html:** 2.26

### STEPS TO REPRODUCE

1.Create a disabled input text element along another required input text element inside a model binded form:
[code]
2.Empty the **surname** element and submit the form
3.A validation error on **surname** element is returned
4.The disabled **name** element is NOT auto-filled by the model binding as expe

[2020-11-30 15:45] sipy commented on #167
I think this is the problem (vendor/spatie/laravel-html/src/Html.php). Here $name was missing:

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/5840172/100630917-d4b65580-3333-11eb-8f54-fc20daed7477.png)

[2020-11-30 15:47] YordanovBg commented on #167
Same problem here

[2020-11-30 17:23] freekmurze commented on #167
Feel free to PR a fix, including tests

On Mon, 30 Nov 2020 at 16:48, Biser <notifications@github.com> wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2020-12-02 11:01] #164 closed

[2021-03-31 10:02] #167 closed

[2021-07-13 12:41] skys215 commented on #102
how to remove `id` attribtue for multiple field? I'm passing as an array to controller.

I've tried passing `null` into `id()`, but it only add `id` as an property, it doesn't remove `id` attribute.

[code]

[2021-07-28 10:35] sebastiaanluca opened #170 ""Readonly" is a reserved keyword in PHP 8.1"
We're having an issue using `spatie/laravel-html` in combination with `barryvdh/laravel-ide-helper`.

Running `php artisan ide-helper:generate -vvvv` throws an exception on the `Spatie\Html\Elements\Input` class:

[code]

Checking the `Input` class, line 23, it imports a class called `Readonly`. In PHP 8.1, I suppose this is a reserved keyword. Even though 8.1 isn't released yet, https://github.co

[2021-08-02 07:43] Nielsvanpach commented on #170
Fair point, a PR would be welcome for this. I'll have a look at the CI of this package today

[2021-11-23 17:16] richardDobron opened #173 "FEATURE: Support objects that implement __toString"
[code]

[2021-11-23 19:13] #173 closed

[2021-11-23 19:13] freekmurze commented on #170
This has been addressed in v3 of the package, which is now compatible with PHP 8.1

[2021-11-23 19:13] #170 closed

[2021-12-04 06:26] readyonelabs opened #175 "PHP 8.1 unexpected token "readonly""
PHP 8.1 made `readonly` a reserved word. This package has a class Spatie\Html\Elements\Attributes\Readonly. This throws the error `syntax error, unexpected token "readonly"` whenever the html() helper is used.

[2021-12-04 06:36] #175 closed

[2022-06-10 20:08] raulpacheco2k commented on #151
Any news on this? This would be very interesting in the package, I particularly miss this functionality.

[2022-09-01 08:06] ReadingPride opened #176 "Select option values not honoured when using integer keys"
There appears to be an issue where when you're using an integer for a key the sequence gets reset to 0,1,2,3... rather than retaining the original value.

This is particularly noticeable when using `mapWithKeys` from a laravel collection i.e.

[code]

This works fine when using non-int keys, however casting the int to string doesn't resolve the issue either.

Example below is used from inside a la